# install latest changes in dbt-core
git+https://github.com/dbt-labs/dbt-core.git#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git#egg=dbt-tests-adapter&subdirectory=tests/adapter

black==22.3.0
bumpversion
flake8
flaky
freezegun==0.3.12
ipdb
mypy==0.782
pip-tools
pre-commit
pytest
pytest-dotenv
pytest-logbook
pytest-csv
pytest-xdist
pytz
tox>=3.13
twine
wheel
mysql-connector-python>=8.0.0,<8.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
